@page
@model UniLove.Pages.CreateAccountModel
@{
}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container">
            <h1 class="logo">Uni<span>Love</span></h1>
            <p>¿Qué modo deseas jugar?</p>

            <div class="options d-flex justify-content-center">
                <a class="option" asp-page="CrearCuentaModoPareja">
                    <img src="https://i.pinimg.com/564x/a5/d7/b1/a5d7b196a47ffd7742eb5230113b91fc.jpg" alt="Pareja">
                    <p>Pareja</p>
                </a>
                <a class="option" asp-page="CrearCuentaModoAmigos">
                    <img src="https://i.pinimg.com/originals/05/12/65/051265325e24f764ed7caef6006d0efd.jpg" alt="Amigos">
                    <p>Amigos</p>
                </a>
                <a class="option" asp-page="CrearCuentaModoTutor">
                    <img src="https://i.pinimg.com/564x/9d/e6/4e/9de64e862c8136ebebf4da58bcdafbae.jpg" alt="Tutor Académico">
                    <p>Tutor Académico</p>
                </a>
            </div>
        </div>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .container {
            text-align: center;
            border-radius: 15px;
            padding: 20px;
        }

    .logo {
        font-size: 3rem;
        color: #FF007F;
    }

    .logo span {
        color: #a8005b;
    }

    p {
        margin-bottom: 10px;
        color: #333;
    }

    .options {
        flex-wrap: wrap;
    }

    .option {
        text-align: center;
        cursor: pointer;
        margin: 10px;
        text-decoration: none; /* Quita el subrayado del enlace */
    }

        .option img {
            width: 250px; /* Tamaño de la imagen */
            height: 200px; /* Tamaño de la imagen */
            border-radius: 10px;
            object-fit: cover; /* Mantiene la proporción de las imágenes */
        }

        .option:hover img {
            filter: brightness(90%); /* Cambia el brillo de la imagen al pasar el mouse */
        }
    </style>
