@page
@model UniLove.Pages.CrearCuentaModoParejaModel
@{
}
<div class="modoPareja">
    <form class="form" onsubmit="return validateForm()">
        <div class="form-group left">
            <p>Ingresa tu correo</p>
            <input type="email" placeholder="Correo electrónico" required>

            <p>Ingresa tu usuario</p>
            <input type="text" placeholder="Usuario" required>

            <p>Ingresa tu fecha de nacimiento</p>
            <input type="date" placeholder="Fecha de nacimiento" required>

            <p>¿Cuál es tu orientación sexual?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="heterosexual">Heterosexual</option>
                <option value="homosexualLesbiana">Homosexual (Lesbiana)</option>
                <option value="homosexualGay">Homosexual (Gay)</option>
                <option value="bisexual">Bisexual</option>
                <option value="pansexual">Pansexual</option>
                <option value="asexual">Asexual</option>
                <option value="demisexual">Demisexual</option>
                <option value="queer">Queer</option>
                <option value="fluidSexuality">Fluid Sexuality</option>
                <option value="interseccionalidad">Interseccionalidad</option>
            </select>

            <p>¿Qué deseas buscar?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="hombres">Hombres</option>
                <option value="mujeres">Mujeres</option>
                <option value="ambos">Ambos</option>
            </select>

            <p>¿Cuál es tu género?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="cisgenero">Cisgénero</option>
                <option value="transgenero">Transgénero</option>
                <option value="noBinario">No binario</option>
                <option value="generoFluido">Género fluido</option>
                <option value="agenero">Agénero</option>
                <option value="bigenero">Bigénero</option>
                <option value="demigenero">Demigénero</option>
                <option value="intersex">Intersex</option>
            </select>

            <p>Selecciona una facultad de la UANL</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>

                <optgroup label="Ciencias Sociales y Humanidades">
                    <option value="facdyc">Facultad de Derecho y Criminología (FACDYC)</option>
                    <option value="ffyl">Facultad de Filosofía y Letras (FFYL)</option>
                    <option value="facpsi">Facultad de Psicología (FACPSI)</option>
                    <option value="fcpyri">Facultad de Ciencias Políticas y Relaciones Internacionales (FCPyRI)</option>
                </optgroup>

                <optgroup label="Ciencias Económico-Administrativas">
                    <option value="facpya">Facultad de Contaduría Pública y Administración (FACPYA)</option>
                    <option value="fime">Facultad de Economía (FIME)</option>
                </optgroup>

                <optgroup label="Ciencias Exactas y Naturales">
                    <option value="fic">Facultad de Ingeniería Civil (FIC)</option>
                    <option value="fcb">Facultad de Ciencias Biológicas (FCB)</option>
                </optgroup>

                <optgroup label="Ciencias de la Salud">
                    <option value="facmed">Facultad de Medicina (FACMED)</option>
                    <option value="facdent">Facultad de Odontología (FACDENT)</option>
                </optgroup>

                <optgroup label="Cultura Física">
                    <option value="facdep">Facultad de Organización Deportiva (FOD)</option>
                </optgroup>

                <optgroup label="Otra">
                    <option value="otra">Otra</option>
                </optgroup>
            </select>
        </div>

        <div class="form-group right">
            <p>¿Qué buscas en una relación sentimental?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="compromisoSerio">Compromiso serio</option>
                <option value="diversionEspontaneidad">Diversión y espontaneidad</option>
                <option value="amistadCompañia">Amistad y compañía</option>
                <option value="aventuraTemporal">Aventura temporal</option>
                <option value="noSeguro">No estoy seguro/a</option>
            </select>

            <p>¿Cuál es tu signo zodiacal y crees en la compatibilidad entre signos?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="aries">Aries</option>
                <option value="tauro">Tauro</option>
                <option value="geminis">Géminis</option>
                <option value="cancer">Cáncer</option>
                <option value="leo">Leo</option>
                <option value="virgo">Virgo</option>
                <option value="libra">Libra</option>
                <option value="escorpio">Escorpio</option>
                <option value="sagitario">Sagitario</option>
                <option value="capricornio">Capricornio</option>
                <option value="acuario">Acuario</option>
                <option value="piscis">Piscis</option>
                <option value="creeCompatibilidad">Sí, creo en la compatibilidad entre signos</option>
                <option value="noCreeCompatibilidad">No, no creo en la compatibilidad entre signos</option>
                <option value="indiferente">Indiferente</option>
            </select>

            <p>¿Prefieres salidas románticas o planes tranquilos en casa?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="salidasRomanticas">Salidas románticas</option>
                <option value="planesCasa">Planes tranquilos en casa</option>
                <option value="ambos">Una mezcla de ambos</option>
                <option value="ninguno">No me gusta ninguno</option>
            </select>

            <p>¿Qué valoras más en una relación: confianza, comunicación o pasión?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="confianza">Confianza</option>
                <option value="comunicacion">Comunicación</option>
                <option value="pasion">Pasión</option>
                <option value="todos">Todos por igual</option>
            </select>

            <p>¿Eres más extrovertido(a) o introvertido(a)?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="extrovertido">Extrovertido/a</option>
                <option value="introvertido">Introvertido/a</option>
                <option value="dependeSituacion">Depende de la situación</option>
                <option value="equilibrio">Un equilibrio entre ambos</option>
            </select>

            <p>¿Cuál sería tu cita ideal?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="cenaRomantica">Cena romántica en un restaurante</option>
                <option value="salidaCine">Salida al cine o teatro</option>
                <option value="paseoNaturaleza">Paseo por la naturaleza o la playa</option>
                <option value="diaActividades">Día de actividades juntos (deportes, juegos)</option>
                <option value="citaTranquilaCasa">Cita tranquila en casa viendo películas o cocinando</option>
            </select>

            <p>¿Cómo defines la lealtad en una pareja?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="fidelidad">Ser fiel y exclusivo/a</option>
                <option value="apoyoIncondicional">Apoyar a tu pareja incondicionalmente</option>
                <option value="honestidad">Mantener la honestidad siempre</option>
                <option value="todasAnteriores">Todas las anteriores</option>
            </select>

            <p>¿Qué tipo de música te gusta para compartir con tu pareja?</p>
            <select required>
                <option value="" disabled selected>Seleccione</option>
                <option value="pop">Pop</option>
                <option value="rock">Rock</option>
                <option value="clasica">Música clásica</option>
                <option value="jazz">Jazz</option>
                <option value="electronica">Electrónica</option>
                <option value="latina">Música latina</option>
                <option value="indie">Indie/Alternativa</option>
                <option value="todo">Me gusta compartir de todo</option>
            </select>
        </div>

        <div class="submit-container">
            <button type="submit" class="enviar-button">Enviar</button>
        </div>
    </form>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .container {
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 90vh;
        overflow-y: auto;
    }

    .form {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .form-group {
        width: 48%;
        margin-bottom: 15px;
    }

        .form-group.left,
        .form-group.right {
            text-align: left;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
            margin-bottom: 10px;
            height: 50px;
        }

        .form-group p {
            margin: 0;
        }

    .submit-container {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .enviar-button {
        padding: 10px 20px;
        background-color: #FF007F;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

        .enviar-button:hover {
            background-color: #e6006f;
        }
</style>
