@page
@model UniLove.Pages.DatosPersonalesModel
@{
}

<div class="main-container">
    <h1 class="logo">Uni<span>Love</span></h1>
</div>
<div class="modoAmigos">
    <form method="post" class="form">
        <div class="form-group left">
            <p>Ingresa tu correo</p>
            <input type="email" asp-for="Usuarios.CorreoElectronico" placeholder="Correo electrónico" required />

            <p>Ingresa tu usuario</p>
            <input type="text" asp-for="Usuarios.NombreUsuario" placeholder="Usuario" required />

            <p>Ingresa tu fecha de nacimiento</p>
            <input type="date" asp-for="Usuarios.FechaNacimiento" required />

            <p>Ingresa tu contraseña</p>
            <input type="text" asp-for="Usuarios.Contraseña" placeholder="Contraseña" required />
        </div>
        <div class="form-group right">
            <p>¿Cuál es tu orientación sexual?</p>
            <select asp-for="Usuarios.OrientacionSexual" required>
                <option value="" disabled selected>Seleccione</option>
                <option value="heterosexual">Heterosexual</option>
                <option value="homosexualLesbiana">Homosexual (Lesbiana)</option>
                <option value="homosexualGay">Homosexual (Gay)</option>
                <option value="bisexual">Bisexual</option>
                <option value="pansexual">Pansexual</option>
                <option value="asexual">Asexual</option>
                <option value="demisexual">Demisexual</option>
                <option value="queer">Queer</option>
                <option value="fluidSexuality">Fluid Sexuality</option>
                <option value="interseccionalidad">Interseccionalidad</option>
            </select>

            <p>¿Qué deseas buscar?</p>
            <select asp-for="Usuarios.DeseaBuscar" required>
                <option value="" disabled selected>Seleccione</option>
                <option value="hombres">Hombres</option>
                <option value="mujeres">Mujeres</option>
                <option value="ambos">Ambos</option>
            </select>

            <p>¿Cuál es tu género?</p>
            <select asp-for="Usuarios.Genero" required>
                <option value="" disabled selected>Seleccione</option>
                <option value="femenino">Femenino</option>
                <option value="masculino">Masculino</option>
                <option value="cisgenero">Cisgénero</option>
                <option value="transgenero">Transgénero</option>
                <option value="noBinario">No binario</option>
                <option value="generoFluido">Género fluido</option>
                <option value="agenero">Agénero</option>
                <option value="bigenero">Bigénero</option>
                <option value="demigenero">Demigénero</option>
                <option value="intersex">Intersex</option>
            </select>

            <p>Selecciona una facultad de la UANL</p>
            <select asp-for="Usuarios.Facultad" required>
                <option value="" disabled selected>Seleccione</option>
                <optgroup label="Ciencias Sociales y Humanidades">
                    <option value="facdyc">Facultad de Derecho y Criminología (FACDYC)</option>
                    <option value="ffyl">Facultad de Filosofía y Letras (FFYL)</option>
                    <option value="facpsi">Facultad de Psicología (FACPSI)</option>
                    <option value="fcpyri">Facultad de Ciencias Políticas y Relaciones Internacionales (FCPyRI)</option>
                </optgroup>
                <optgroup label="Ciencias Económico-Administrativas">
                    <option value="facpya">Facultad de Contaduría Pública y Administración (FACPYA)</option>
                    <option value="fime">Facultad de Economía (FIME)</option>
                </optgroup>
                <optgroup label="Ciencias Exactas y Naturales">
                    <option value="fic">Facultad de Ingeniería Civil (FIC)</option>
                    <option value="fcb">Facultad de Ciencias Biológicas (FCB)</option>
                </optgroup>
                <optgroup label="Ciencias de la Salud">
                    <option value="facmed">Facultad de Medicina (FACMED)</option>
                    <option value="facdent">Facultad de Odontología (FACDENT)</option>
                </optgroup>
                <optgroup label="Cultura Física">
                    <option value="facdep">Facultad de Organización Deportiva (FOD)</option>
                </optgroup>
                <optgroup label="Otra">
                    <option value="otra">Otra</option>
                </optgroup>
            </select>
        </div>
        <div class="submit-container">
            <button type="submit" class="enviar-button">Enviar</button>
        </div>
    </form>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .main-container {
        text-align: center;
        padding: 20px;
    }

    .logo {
        font-size: 3rem;
        color: #FF007F;
    }

        .logo span {
            color: #a8005b;
        }

    .form {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .form-group {
        width: 48%;
        margin-bottom: 15px;
    }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box;
            margin-bottom: 10px;
            height: 50px;
        }

        .form-group p {
            margin: 0;
        }

    .submit-container {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .enviar-button {
        padding: 10px 20px;
        background-color: #FF007F;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

    .enviar-button:hover {
        background-color: #e6006f;
    }
</style>